{% load static %}

<!DOCTYPE html>
<html>

<head>

    {% block head %}

    {% include "head.html" %}

    {% endblock %}

</head>

<body class="theme-red">
    {% block pageloader %}

    {% include "pageloader.html" %}

    {% endblock %}
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    {% block searchbar %}

    {% include "searchbar.html" %}

    {% endblock %}

    {% block topbar %}

    {% include "topbar.html" %}

    {% endblock %}


    <section>
        
        {% block leftsidebar %}

        {% include "leftsidebar.html" %}

        {% endblock %}

        {% block rightsidebar %}

        {% include "rightsidebar.html" %}

        {% endblock %}


    </section>

    <section class="content">
        <div class="container-fluid">
            {% block content %}
            
            {% endblock %}
        </div>
    </section>
    
    {% block javascript %}

    {% include "js.html" %}

    {% endblock %}


</body>

</html>
