{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Atender Reclamo | Artemis {% endblock %}

<!-- ATENDER RECLAMO PARA USUARIOS: GESTOR DE RECLAMO Y TECNICO -->

{% block content %}

<div class="card">
    <div class="header ">
        <h2>
            Atención de Reclamo
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="header bg-blue-grey">
                            <h2>
                                Datos del Reclamo:
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Código</b>
                                </p>
                                <input type="text" class="form-control" placeholder="Código del reclamo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Estado</b>
                                </p>
                                <select class="form-control">
                                    <option>Pendiente de antención</option>
                                    <option>En proceso</option>
                                    <option>Completado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-line">
                            <p>
                                <b>Fecha de emisión</b>
                            </p>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" class="form-control date" placeholder="Ej: 30/07/2016">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-line">
                            <p>
                                <b>Fecha de compromiso</b>
                            </p>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" class="form-control date" placeholder="Ej: 30/07/2016">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Categoría</b>
                                </p>
                                <select class="form-control">
                                    <option>Cobro incorrecto</option>
                                    <option>Cobro no registrado en sistema</option>
                                    <option>Fallas de señal móvil</option>
                                    <option>Telefonía fija sin tono</option>
                                    <option>Señal inestable de televisión</option>
                                    <option>Sin señal en televisión</option>
                                    <option>Alta latencia de internet</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Tipo de servicio</b>
                                </p>
                                <input type="text" class="form-control" placeholder="Tipo de servicio">
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-12">
                        <div class="form-group">
                            <p>
                                <b>Descripción</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="6" class="form-control no-resize"
                                        placeholder="Descripción del reclamo..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>
                                <b>Comentarios</b>
                            </p>
                            <div class="list-group">
                                <button type="button" class="list-group-item" style="text-align:center">No se ha
                                    podido
                                    atender por falta de luz en la zona</button>
                                <button type="button" class="list-group-item" style="text-align:center">El técnico
                                    está
                                    atendiendo el reclamo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% url 'gt_consultarReclamo' %}">
                            <center><button type="button" class="btn bg-teal waves-effect">Cancelar</button></center>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <div class="button-demo js-modal-buttons">             
                                <center><button type="button" data-color="blue-grey"
                                        class="btn bg-blue-grey waves-effect">Enviar respuesta</button>
                                </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <center><button type="button" class="btn bg-indigo waves-effect">Asignar técnico</button>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <center><button type="button" class="btn bg-green waves-effect">Guardar</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal de las respuestas-->
<div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Responder a cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <p>
                            <b>Selecciones respuesta predefinida:</b>
                        </p>
                        <select class="form-control">
                            <option>Algo</option>
                            <option>Algo2</option>
                            <option>algo3</option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:1.5em;">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="12" class="form-control no-resize"
                                    placeholder="Escriba su respuesta aquí." maxlength=500></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atrás</button>
                <button type="button" class="btn btn-link waves-effect">Enviar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/modals.js' %}" type="text/javascript"></script>
{% endblock %}