{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Atender Reclamo | Artemis {% endblock %}

<!-- ATENDER RECLAMO PARA USUARIOS: GESTOR DE RECLAMO Y TECNICO -->

{% block content %}
<div class="row clearfix">
    <div class="col-md-10" style="margin-left:6em;">
        <div class="card">
            <div class="header ">
                <h2>
                    Atención de Reclamo
                </h2>
            </div>
            <div class="body">
                <form method="POST" id="formulario">
                    {% csrf_token %}
                    {{form.errors}}
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="header bg-blue-grey">
                                        <h2>
                                            Datos del Reclamo:
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <p>
                                                <b>Código</b>
                                            </p>
                                            <input type="text" class="form-control" value="{{ reclamo.codReclamo }}"
                                                id="codReclamo" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <p>
                                                <b>Estado</b>
                                            </p>
                                            <select name="estatus" class="form-control" id="estatus">
                                                <option value="R">En proceso</option>
                                                <option value="F">Finalizado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <p>
                                            <b>Fecha de emisión</b>
                                        </p>
                                        <div class="input-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control date"
                                                    value="{{ reclamo.fechaRegistro }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-line">
                                        <p>
                                            <b>Fecha de compromiso</b>
                                        </p>
                                        <div class="input-daterange input-group" id="fechaEstimada_dp">
                                            <div class="form-line">
                                                <input id="fechaEstimada" name="fechaEstimada" type="text"
                                                    class="form-control" placeholder="Ej:23/07/2019"
                                                    value="{{reclamo.fechaEstimada|date:'Y-m-d'}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <p>
                                                <b>Categoría</b>
                                            </p>
                                            {{ form.codCategoria }}
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <p>
                                                <b>Tipo de servicio</b>
                                            </p>
                                            <input type="text" class="form-control"
                                                value="{{ reclamo.codDetContrato.codServicio.nombre }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <p>
                                                <b>Técnico asignado</b>
                                            </p>
                                            <input type="text" class="form-control" id="tecnicoAsignado"
                                                value="{{tec_asignado}}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-12">
                                    <div class="form-group">
                                        <p>
                                            <b>Descripción</b>
                                        </p>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea rows="6" class="form-control no-resize"
                                                    readonly> {{ reclamo.descripcion }} </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row clearfix">
                {% if user.codTipoUser.codTipoUser == 'tc' %}
                <div class="col-md-1"></div>
                {% endif %}
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="button-demo">
                                <a href="{% url 'gt_consultarReclamo' reclamo.codReclamo %}">
                                    <center><button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                                    </center>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="button-demo">
                                <div class="button-demo js-modal-buttons">
                                    <center><button type="button" data-color="blue-grey"
                                            class="btn bg-blue-grey waves-effect" id="respuestas">Enviar respuesta</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.codTipoUser.codTipoUser == 'grec' %}
                    <div class="col-md-3">
                        <div class="form-group">
                                <div class="button-demo js-modal-buttons">
                                    <center><button type="button" data-color="blue-grey" id="asignar" class="btn bg-indigo waves-effect">Asignar
                                            técnico</button>
                                    </center>
                                </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="button-demo">
                                <center><button type="button" onclick="javascript:confirmarSeleccion();"
                                        class="btn bg-green waves-effect">Guardar</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal de las respuestas-->
<div class="modal fade" id="responderCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Responder a cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <p>
                            <b>Selecciones respuesta predefinida:</b>
                        </p>
                        <select class="form-control" id="respuestaP" onchange="javascript:obtenerRespuesta();">
                            <option value="-">---------------</option>
                            {% for resp in rp %}
                            <option value="{{resp.codRespuestaP}}">{{ resp.descripcion|truncatewords:6 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:1.5em;">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="12" class="form-control no-resize" id="descripcionRP"
                                    placeholder="Escriba su respuesta aquí." maxlength=500></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atrás</button>
                <button type="button" class="btn btn-link waves-effect" onclick="javascript:enviarRespuesta();">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal de asignar tecnico-->
<div class="modal fade" id="tecnicos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Asignar tecnico</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-2"></div>
                    <div class=" col-md-8">
                        <p>
                            <b>Seleccione el tecnico a asignar:</b>
                        </p>
                        <select class="form-control" id="responsableReclamo" name="responsableReclamo">
                            <option value="-">-----</option>
                            {% for tc in tecnicos %}
                            <option value="{{tc.nombreUsuario}}">{{ tc.idEmpleado.nombre }} {{ tc.idEmpleado.apellido }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Atrás</button>
                <button type="button" class="btn btn-link waves-effect" onclick="javascript:asignarTecnico();">Asignar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modals.js' %}" type="text/javascript"></script>
<script src="{% static 'js/asignar_tecnico.js' %}" type="text/javascript"></script>
<script src="{% static 'js/enviar_rp.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<script>
    $('#fechaEstimada_dp').datepicker({
        autoclose: true,
        language: 'es',
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        container: '#fechaEstimada_dp'
    });

    function confirmarSeleccion() {
        swal({
            title: "Confirmar",
            text: "¿Está seguro que desea guardar?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#58a05d",
            confirmButtonText: "Sí",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                formulario.submit();
            } else {
                swal("Cancelado", "Los cambios no han sido guardados.", "error");
            }
        });
    }

</script>
{% endblock %}