{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar categoría de reclamo | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Consultar Categoría de Reclamo
        </h2>
    </div>
    <div class="body">
    <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Código</b>
                        </p>
                        <input type="text" class="form-control" placeholder="CR-01" disabled="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Nombre</b>
                        </p>
                        <input type="text" class="form-control" placeholder="" value="Cobro incorrecto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <p>
                        <b>Descripción</b>
                    </p>
                    <textarea rows="12" class="form-control no-resize"
                        placeholder="Se ha cobrado un monto que no era el correcto." maxlength=500></textarea>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% url 'claimcategorylist' %}">
                            <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-red waves-effect">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-green waves-effect">Modificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}