{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar categoría de reclamo | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Consultar Categoría de Reclamo
        </h2>
    </div>
    <div class="body">
        <form method="POST" id="formulario">
            {% csrf_token %}
            <div class="row clearfix">
                <div class="col-md-4"></div>
                <div class=" col-md-4 ">
                    <div class="form-group">
                        <div class="form-line">
                            <p>
                                <b>Código</b>
                            </p>
                            {{ form.codCategoria }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4"></div>
                <div class=" col-md-4 ">
                    <div class="form-group">
                        <div class="form-line">
                            <p>
                                <b>Nombre</b>
                            </p>
                            {{ form.nombre }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4"></div>
                <div class=" col-md-4 ">
                    <div class="form-group">
                        <p>
                            <b>Descripción</b>
                        </p>
                            {{ form.descripcion }}
                    </div>
                </div>
            </div>
            {{ form.estatus }}
            <div class="row clearfix">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="button-demo">
                            <a href="{% url 'claimcategorylist' %}">
                                <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="button-demo">
                            <button type="button" onclick="javascript:confirmarSeleccion();"
                                class="btn bg-red waves-effect">Eliminar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <a href="{% url 'updateclaimcategory' object.codCategoria %}">
                            <div class="button-demo">
                                <button type="button" class="btn bg-green waves-effect">Modificar</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block javascript %}
{% if messages %}
{% for m in messages %}
{% if m.message == "e" %}
<script>
    swal("Modificada", "La categoría ha sido modificada con éxito.", "success");
</script>
{% endif %}
{% endfor %}
{% endif %}
<script>
    function confirmarSeleccion() {
        swal({
            title: "Confirmar eliminación",
            text: "¿Está seguro que desea eliminar la categoría?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#58a05d",
            confirmButtonText: "Sí",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                document.getElementById('estatus').value = 'I';
                formulario.submit();
            } else {
                swal("Cancelada", "La categoría no ha sido eliminada.", "error");
            }
        });
    }
</script>
{% endblock %}