{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Categorías de Reclamos | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Listado de Categorías de Reclamos
        </h2>
    </div>
    <div class="body table-responsive">
        <table id="table-list" class="table table-bordered table-hover nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre de Categoría</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Código</th>
                    <th>Nombre de Categoría</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
            {% for categoria in object_list %}
                <tr>
                    <td>{{ categoria.codCategoria }}</td>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <center><a href="{% url 'checkclaimcategory' categoria.codCategoria %}"> <button type="button"
                                    class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons">remove_red_eye</i></button></a></center>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% if messages %}
{% for m in messages %}
{% if m.message == "e" %}
<script>
    swal("Eliminada", "La categoría ha sido eliminada con éxito.", "success");
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}