{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar Cliente | Artemis{% endblock  %}

<!--CONSULTAR RECLAMO PARA USUARIOS: CLIENTE -->

{% block content %}

<div class="row clearfix">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h2>
                    Consultar Reclamo
                </h2>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#consulta" data-toggle="tab">Consulta</a></li>
                    <li role="presentation"><a href="#historial" data-toggle="tab">Historial</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="consulta" style="margin-top:1.5em;">
                        <div class="row clearfix">
                            <div class="col-md-1"></div>
                            <div class=" col-md-10">
                                <div class=" col-md-6">
                                    <p>
                                        <b>Código</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" value="{{ reclamo.codReclamo }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Tipo de solicitud</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" value="Reclamo" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Categoría del Reclamo</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" value="{{ reclamo.codCategoria }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Fecha de emisión</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" value="{{ reclamo.fechaRegistro }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Estado</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                value="{{ reclamo.get_estatus_display }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Fecha de Estimada</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" value="{{ reclamo.fechaEstimada }}"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <p>
                                        <b>Fecha de Finalización</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                value="{{ reclamo.fechaFinalizada }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-12">
                                    <p>
                                        <b>Descripción</b>
                                    </p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="12" class="form-control no-resize"
                                                readonly>{{ reclamo.descripcion }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="button-demo">
                                        <a href="{% url 'lista_pqrscliente' %} ">
                                            <center><button type="button"
                                                    class="btn bg-teal waves-effect">Atrás</button>
                                            </center>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="historial">
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Detalles</th>
                                        <th>Usuario Encargado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="text-align:left;">19/09/2019</th>
                                        <td style="text-align:left;">Se ha respondido al reclamo</td>
                                        <td style="text-align:left;">Alan M</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="text-align:left;">19/09/2019</th>
                                        <td style="text-align:left;">Se ha respondido al reclamo</td>
                                        <td style="text-align:left;">Alan M</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}