{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Crear categoría de reclamo | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Crear Categoría de Reclamos
        </h2>
    </div>
    <div class="body">
        <form method="POST" id="formulario">
            {% csrf_token %}
            <div class="row clearfix">
                <div class="col-md-4"></div>
                <div class=" col-md-4 ">
                    <div class="form-group">
                        <div class="form-line">
                            <p>
                                <b>Nombre</b>
                            </p>
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4"></div>
                <div class=" col-md-4 ">
                    <div class="form-group">
                        <p>
                            <b>Descripción</b>
                        </p>
                        {{ form.descripcion }}
                        {{ form.descripcion.errors }}
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="button-demo">
                            <a href="{% url 'dashboard_admin' %}">
                                <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="button-demo">
                            <button type="reset" class="btn bg-blue-grey waves-effect">Limpiar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="button-demo">
                            <button type="button" class="btn bg-green waves-effect"
                                onclick="javascript:confirmarSeleccion();">Crear</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block javascript %}
{% if messages %}
{% for m in messages %}
{% if m.message == "e" %}
<script>
    swal("Creada", "La categoría ha sido creada con éxito.", "success");
</script>
{% endif %}
{% endfor %}
{% endif %}
<script>
    function confirmarSeleccion() {
        swal({
            title: "Confirmar creación",
            text: "¿Está seguro que desea crear la categoría?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#58a05d",
            confirmButtonText: "Sí",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                formulario.submit();
            } else {
                swal("Cancelada", "La categoría no ha sido creada.", "error");
            }
        });
    }
</script>
{% endblock %}