{% extends "base/base.html" %}

{% load static %}

{% block titulo %}Crear Reclamo | Artemis {% endblock %}

{% block content %}
<div class="card">
        <div class="header bg-green">
            <h2>
                Registrar Reclamo <small>El reclamo es una declaración por el incumplimiento de un servicio que ha sido contratado, ocasionado por la deficiente prestación o suspensión injustificada del servicio.</small>
            </h2>
            <ul class="header-dropdown m-r-0">
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">info_outline</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">help_outline</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body">
           

           
        </div>
 </div>


{% endblock %}

{% block javascript %}

{% endblock %}