{% extends "base/base.html" %}

{% load static %}

{% block titulo %}Crear Reclamo | Artemis {% endblock %}

{% block content %}
<div class="card">
        <div class="header bg-green">
            <h2>
                Green - Title <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown m-r-0">
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">info_outline</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">help_outline</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body">
            Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
        </div>
 </div>


{% endblock %}

{% block javascript %}

{% endblock %}