{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Crear categoría de reclamo | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Crear Categoría de Reclamos
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Nombre</b>
                        </p>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre aquí...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <p>
                        <b>Departamento asociado</b>
                    </p>
                    <select class="form-control">
                        <option>Móvil</option>
                        <option>Fijo</option>
                        <option>Televisión</option>
                        <option>Ventas</option>
                        <option>Finanzas</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% url 'dashboard_admin' %}">
                            <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-blue-grey waves-effect">Limpiar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-green waves-effect">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}