{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Encuesta de satisfacción | Artemis {% endblock %}

<!--ENCUESTA DE SATISFACCION PARA USUARIOS: CLIENTE -->

{% block content %}
<div class="row clearfix">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h2>
                    Encuesta de satisfacción
                </h2>
            </div>
            <div class="body">
                <form id="formulario" method="POST">
                    {% csrf_token %}
                    <center>
                        <h2 style="color:black;">¡Cuéntanos tu experiencia!</h2>
                        <h4 style="color:black;margin-right:1em;margin-left:1em;">Para nosotros es importante saber cómo
                            fue
                            tu experiencia al momento de atender su reclamo</h4>
                        <br />
                    </center>
                    <h4 style="color:black;text-align:center;">Datos del reclamo</h4>
                    <h5 style="color:#403e49;margin-left:10em;">Reclamo {{ reclamo.codReclamo }}</h5>
                    <h5 style="color:#403e49;margin-left:10em;">Reclamo solucionado tras {{dias}} días de espera.</h5>
                    <h5 style="color:#403e49;margin-left:10em;">Atendido por: {{ gestor.idEmpleado.nombre }}
                        {{ gestor.idEmpleado.apellido }}</h5>
                    <br /><br />
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <p style="text-align:center;">
                                        <b>¿Cómo valorarías la atención que recibiste?</b>
                                    </p>
                                    <div class="irs-demo">
                                        <input type="text" id="valoracion" name="valoracion" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'cli_reclamosfinalizados' %}">
                                        <center><button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <center><button type="button" onclick="javascript:confirmarValoración();" class="btn bg-green waves-effect">Valorar</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script src="{% static 'plugins/ion-rangeslider/js/ion.rangeSlider.js' %}"></script>
<script src="{% static 'js/pages/ui/range-sliders.js' %}"></script>
<script src="{% static 'js/mensajes.js' %}" type="text/javascript"></script> 
{% endblock %}