{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Reclamos | Artemis {% endblock %}

<!--LISTADO DE RECLAMOS PARA USUARIOS: GESTOR DE RECLAMOS-->

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Listado de Reclamos <small style="color:#171d40; align-justify;">Reclamos registradas en el sistema</small>
        </h2>
    </div>
    <div class="body table-responsive">
        <table id="tabla-generica" class="table table-bordered " >
            <thead>
                <tr>
                    <th>Nombre del Cliente</th>
                    <th>Categoría</th>
                    <th>Fecha de emisión</th>
                    <th>Fecha estimada de atención </th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre del Cliente</th>
                    <th>Categoría</th>
                    <th>Fecha de emisión</th>
                    <th>Fecha estimada de atención</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>AnaMaria</td>
                    <td>Fallas de cobertura</td>
                    <td>15/05/2019</td>
                    <td>30/05/2019</td>
                    <td>
                        <center><a href="#"> <button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">remove_red_eye</i></button></a></center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/pages/tables/tabla-generica.js' %}" type="text/javascript"></script>
{% endblock %}