{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Modificar categoría de reclamo | Artemis {% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h2>
                        Modificar Categoría de Reclamo
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <form method="POST" id="formulario">
                            {% csrf_token %}
                            <div class="col-md-2"></div>
                            <div class=" col-md-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <p>
                                            <b>Código</b>
                                        </p>
                                        {{ form.codCategoria }}
                                        {{ form.codCategoria.errors }}
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <p>
                                        <b>Nombre</b>
                                    </p>
                                    {{ form.nombre }}
                                    {{ form.nombre.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <div class="form-group">
                                <p>
                                    <b>Descripción</b>
                                </p>
                                {{ form.descripcion }}
                                {{ form.descripcion.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'checkclaimcategory' object.codCategoria %}">
                                        <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <button type="button" onclick="javascript:confirmarSeleccion();"
                                        class="btn bg-green waves-effect">Guardar</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>
    function confirmarSeleccion() {
        swal({
            title: "Confirmar modificación",
            text: "¿Está seguro que desea modificar la categoría?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#58a05d",
            confirmButtonText: "Sí",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                formulario.submit();
            } else {
                swal("Cancelada", "La categoría no ha sido modificada.", "error");
            }
        });
    }
</script>
{% endblock %}