{% extends "base/base.html" %}

{% load static %}

{% block titulo %}  {% endblock %}

{% block content %}


<div class="col">
    <div class="info-box-3 bg-indigo hover-expand-effect">
        <div class="icon">
            <i class="material-icons" style="color:#FFF;">dashboard</i>
        </div>
        <div class="content">
            <h1>Crear solicitudes</h1>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-6">
        <div class="info-box-3 bg-blue hover-expand-effect">
            <div class="icon">
                <i class="material-icons" style="color:#FFF;">chrome_reader_mode</i>
            </div>
            <div class="content">
                <h3>Petición</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="info-box-3 bg-blue hover-expand-effect">
            <div class="icon bg-blue">
                <i class="material-icons" style="color:#FFF;">sentiment_very_dissatisfied</i>
            </div>
            <div class="content">
                <h3>Queja</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="info-box-3 bg-blue hover-expand-effect">
            <div class="icon bg-blue">
                <i class="material-icons" style="color:#FFF;">announcement</i>
            </div>
            <div class="content">
                <h3>Reclamo</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="info-box-3 bg-blue hover-expand-effect">
            <div class="icon bg-blue">
                <i class="material-icons" style="color:#FFF;">assignment_turned_in</i>
            </div>
            <div class="content">
                <h3>Sugerencia</h3>
            </div>
        </div>
    </div>
</div>

<div class="col">
        <div class="info-box-3 bg-indigo hover-expand-effect">
            <div class="icon">
                <i class="material-icons" style="color:#FFF;">schedule</i>
            </div>
            <div class="content">
                <h1>Mis reclamos abiertos</h1>
            </div>
        </div>
    </div>

<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th>Fecha de emisión</th>
                        <th>Tipo de reclamo</th>
                        <th>Servicio afectado</th>
                        <th>Código del reclamo</th>
                        <th>Fecha estimada de resolución</th>
                        <th>Estado</th>
                        <td>Anexo</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2019/06/30</td>
                        <td>Avería</td>
                        <td>Internet residencial</td>
                        <td>19041729</td>
                        <td>2020/07/01</td>
                        <td>Pendiente de Atención</td>
                        <td>
                            <center><button type="button"
                                    class="btn bg-white btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons" style="color:#2196F3">remove_red_eye</i></button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>2019/06/30</td>
                        <td>Mal cobro</td>
                        <td>N/A</td>
                        <td>21291829</td>
                        <td>2020/07/01</td>
                        <td>En proceso</td>
                        <td>
                            <center><button type="button"
                                    class="btn bg-white btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons" style="color: #2196F3">remove_red_eye</i></button>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}