{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Artemis - Bienvenido {% endblock %}

{% block content %}
<div class="block-header">
    <h2>RECIENTES</h2>
</div>

<div class="row clearfix">
    <a href="{% url 'petitionlist' %}">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-dark-gray hover-expand-effect">
                <div class="icon">
                    <i class="material-icons" style="color:#666;">sentiment_satisfied_alt</i>
                </div>
                <div class="content" >
                    <div class="text" style="color:white">Peticiones Nuevas</div>
                    <div class="number count-to" style="color:white" data-from="0" data-to="3" data-speed="1500" data-fresh-interval="20">125</div>
                </div>
            </div>
        </a>
    </div>
    <a href="{% url 'complaintlist' %}">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-dark-gray hover-expand-effect">
                <div class="icon bg-dark-gray">
                    <i class="material-icons" style="color:#666;">sentiment_satisfied_alt</i>
                </div>
                <div class="content">
                    <div class="text" style="color:white">Quejas Nuevas</div>
                    <div class="number count-to" style="color:white" data-from="0" data-to="31" data-speed="1500" data-fresh-interval="20">257</div>
                </div>
            </div>
        </div>
    </a>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">sentiment_satisfied_alt</i>
            </div>
            <div class="content">
                <div class="text" style="color:white">Reclamos Nuevos</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="26" data-speed="1500" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">sentiment_satisfied_alt</i>
            </div>
            <div class="content">
                <div class="text" style="color:white">Sugerencias Nuevas</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="6" data-speed="1500" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 disabled">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">notification_important</i>
            </div>
            <div class="content" >
                <div class="text" style="color:white">Reclamos prox. a vencer</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="8" data-speed="1500" data-fresh-interval="20">125</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">notification_important</i>
            </div>
            <div class="content">
                <div class="text" style="color:white">Quejas prox. a vencer</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="8" data-speed="1500" data-fresh-interval="20">125</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">notification_important</i>
            </div>
            <div class="content">
                <div class="text" style="color:white">Otro campo</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="7" data-speed="1500" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-3 bg-dark-gray hover-expand-effect">
            <div class="icon bg-dark-gray">
                <i class="material-icons" style="color:#666;">notification_important</i>
            </div>
            <div class="content">
                <div class="text" style="color:white">Nuevas averías masivas</div>
                <div class="number count-to" style="color:white" data-from="0" data-to="8123" data-speed="1500" data-fresh-interval="20">125</div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h2>
            Listado de PQRS <small>PQRS pendientes de atender...</small>
        </h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre de usuario</th>
                        <th>Categoría</th>
                        <th>Fecha de emisión</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre de usuario</th>
                        <th>Categoría</th>
                        <th>Fecha de emisión</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Internet</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Cobertura</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>Queja</td>
                        <td>maaano_14</td>
                        <td>Fallas de Internet</td>
                        <td>2019/06/30</td>
                        <td>Pendiente de Atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}