{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Mis Notificaciones | Artemis {% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-8 col-sm-8">
        <div class="card">
            <div class="header">
                <h2><strong>Mis notificaciones</strong></h2>
            </div>
            <div class="body">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                        <div class="row clearfix" style="text-align:center;">
                            <h4 class="list-group-item-heading">Marcar todas como leídas.
                            </h4>
                        </div>
                    </a>
                    {% for notificacion in notificaciones %}
                    <a href="javascript:void(0);" class="list-group-item">
                        <div class="row clearfix">
                            <div class="col-xs-1 col-sm-1">
                                <div class="bg-light-green"
                                    style="width:36px;height:36px;border-radius:50%;text-align:center;display:inline-block;">
                                    <i class="material-icons" style="margin-top:0.3em;">
                                        mail{% if not notificacion.unread %}_outline{% endif %}
                                    </i>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                <h4 class="list-group-item-heading">{{notificacion.actor}} {{notificacion.description}}.
                                </h4>
                                <p class="list-group-item-text">
                                    Hace {{notificacion.timesince}}.
                                </p>
                            </div>
                        </div>
                    </a>
                    {% comment %} <div class="card header"
                        onclick="marcar_notificacion({{notificacion.slug}},'{{notificacion.actor}}')"
                        id="noti-{{notificacion.slug}}">
                        <h4>{{notificacion.actor}}: {{notificacion.description}}</h4>
                        <p>
                            <i class="material-icons">access_time</i> {{notificacion.timesince}}
                        </p>
                    </div> {% endcomment %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}