{% extends "base/base.html" %}

{% load static %}

{% block titulo %}
Artemis
{% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-4">
        <div class="card profile-card">
            <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="{% static 'images/user-lg.jpg' %}" alt="AdminBSB - Profile Image" />
                </div>
                <div class="content-area">
                    <h3>Marc K. Hammond</h3>
                    <p>Web Software Developer</p>
                    <p>Administrator</p>
                </div>
            </div>
            <div class="profile-footer">
                <ul>
                    <li>
                        <span>Followers</span>
                        <span>1.234</span>
                    </li>
                    <li>
                        <span>Following</span>
                        <span>1.201</span>
                    </li>
                    <li>
                        <span>Friends</span>
                        <span>14.252</span>
                    </li>
                </ul>
                <button class="btn btn-primary btn-lg waves-effect btn-block">FOLLOW</button>
            </div>
        </div>
    </div>

    {% endblock content %}

    {% block javascript %}

    {% endblock javascript %}