{% extends "base/base.html" %}

{% load static %}

{% block titulo %}
Artemis
{% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12">
        <div class="profile profile-card">
            <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img class="image-responsive" src="{{ user.foto.url }}"
                        alt="Foto de Perfil de {{ user.nombreUsuario }}" style="width:200px;height:200px;object-fit:cover;" />
                </div>
                <div class="content-area">
                    <h3>{% if user.idCliente is not none %}
                        {{ user.idCliente.nombre }} {{ user.idCliente.apellido }}
                        {% else %}
                        {{ user.idEmpleado.nombre }} {{ user.idEmpleado.apellido }}
                        {% endif %}</h3>
                    <p></p>
                    <p>{{ user.codTipoUser }}</p>
                </div>
            </div>
            <div class="profile-footer">
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Nombre de usuario</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{{user.nombreUsuario}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Teléfono</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{% if user.idCliente is not none %}{{ user.idCliente.telefono }}{% else %}{{ user.idEmpleado.telefono }}{% endif %}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Correo</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{{user.correo }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Dirección</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{% if user.idCliente is not none %}{{ user.idCliente.direccion }}{% else %}{{ user.idEmpleado.direccion }}{% endif %}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a
                                        href="{% if user.codTipoUser.codTipoUser == 'cli' %} {% url 'dashboard_cliente' %} {% elif user.codTipoUser.codTipoUser == 'atc' %}{% url 'dashboard_atencioncli' %}{% elif user.codTipoUser.codTipoUser == 'admin' %}{% url 'dashboard_admin' %}{% elif user.codTipoUser.codTipoUser == 'ger'%}{% url 'dashboard_gerente' %}{% elif user.codTipoUser.codTipoUser == 'tec' %} {% url 'dashboard_tecnico' %} {% elif user.codTipoUser.codTipoUser == 'gpqs' %} {% url 'dashboard_gestorPQS' %} {% elif user.codTipoUser.codTipoUser == 'grec' %} {% url 'dashboard_gestreclamo' %} {% endif %}" readonly>
                                        <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'updateprofile' %}">
                                        <button type="button" class="btn bg-green waves-effect">Modificar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% if messages %}
{% for m in messages %}
{% if m.message == "e" %}
<script>
    swal("Modificado", "Su usuario ha sido modificado con éxito.", "success");
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock javascript %}