{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Modificar perfil | Artemis {% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12">
        <div class="profile profile-card">
            <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="{% static 'images/user-lg.jpg' %}" alt="AdminBSB - Profile Image" />
                </div>
                <div class="content-area">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    <p></p>
                    <p>{{ user.codTipoUser }}</p>
                </div>
            </div>
            <div class="profile-footer">
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Nombre de usuario</b>
                                </p>
                                <input type="text" class="form-control" placeholder="{{user.username}}" value=""
                                    disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Teléfono</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{{user.phone }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Correo</b>
                                </p>
                                <input type="text" class="form-control" placeholder="" value="{{user.email }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Dirección</b>
                                </p>
                                <input type="text" class="form-control" placeholder="{{ user.address }}" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class=" col-md-4 "></div>
                    <div class=" col-md-4 ">
                        <div class="form-group">
                            <div class="form-line">
                                <p>
                                    <b>Foto de Perfil</b>
                                </p>
                                <input type="file" class="form-control" placeholder="{{ user.address }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a
                                        href="{% if user.codTipoUser.codTipoUser == 'cli' %} {% url 'dashboard_cliente' %} {% elif user.codTipoUser.codTipoUser == 'atc' %}{% url 'dashboard_atencioncli' %}{% elif user.codTipoUser.codTipoUser == 'admin' %}{% url 'dashboard_admin' %}{% elif user.codTipoUser.codTipoUser == 'ger'%}{% url 'dashboard_gerente' %}{% elif user.codTipoUser.codTipoUser == 'tec' %} {% url 'dashboard_tecnico' %} {% elif user.codTipoUser.codTipoUser == 'gpqs' %} {% url 'dashboard_gestorPQS' %} {% elif user.codTipoUser.codTipoUser == 'grec' %} {% url 'dashboard_gestreclamo' %} {% endif %}">
                                        <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <button type="button" class="btn bg-green waves-effect">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}