Artemis/__pycache__/*
apps/departamento/__pycache__/*
apps/departamento/
apps/index/__pycache__/*
apps/index/migrations/*
apps/peticion/__pycache__/*
apps/peticion/migrations/*
apps/queja/__pycache__/*
apps/queja/migrations/*
apps/reclamo/__pycache__/*
apps/reclamo/migrations/*
apps/sugerencia/__pycache__/*
apps/sugerencia/migrations/*
apps/usuario/__pycache__/*
apps/usuario/migrations/*
apps/averia_masiva/__pycache__/*
apps/averia_masiva/migrations/*
.vscode
*.pyc