¡Hola! Nos complace comunicarnos contigo de parte de Artemis. 
Has indicado que olvidaste tus credenciales de acceso al sistema Artemis. Tu nombre de usuario para acceder es {{ user.nombreUsuario }}, y si deseas recuperar tu contraseña, podrás hacerlo desde el siguiente link:
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}    
{% endblock %}

Si no has sido tú, puedes sencillamente ignorar este mensaje y no sucederá nada.
Saludos,
ELITECH Team.