{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html>

<head>
        {% progressive_web_app_meta %}
    <title>{% block titulo %} {% endblock %}</title>

    {% include "base/head.html" %}

</head>

<body>
    {% include "base/pageloader.html" %}

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    {% include "base/searchbar.html" %}

    {% include "base/topbar.html" %}

    <section>
        
        {% include "base/leftsidebar.html" %}

    </section>

    <section class="content">
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>
    </section>
    
    {% include "base/js.html" %}

    {% block javascript %}

    {% endblock %}


</body>

</html>
