$theme: #546E7A;
$theme-legal-bg: #fff;
$theme-bar: #fff;
$theme-navbar-brand: #fff;
$theme-navbar-brand_active: #fff;
$theme-navbar-brand_hover: #fff;
$theme-navbar-brand_focus: #fff;
$theme-nav-anchor: #fff;
$theme-nav-anchor_hover: rgba(0,0,0,0);
$theme-nav-anchor_focus: rgba(0,0,0,0);
$theme-nav-anchor-opened: rgba(0,0,0,0);
$theme-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-menu-list-active: rgba(0,0,0,0);
$theme-menu-list-toggled: rgba(0,0,0,0);
$theme-menu-list-submenu: rgba(0,0,0,0);