{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Crear respuesta predefinida | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header bg-grey">
        <h2>
            Crear Respuesta Predefinida 
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Categoría Asociada</b>
                        </p>
                        <select class="form-control show-tick">
                            <option>Petición</option>
                            <option>Queja</option>
                            <option>Reclamo</option>
                            <option>Sugerencia</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <p>
                    <b>Descripción</b>
                </p>
                <div class="form-group">
                    <div class="form-line">
                        <textarea rows="4" class="form-control no-resize"
                            placeholder="Ingrese la descripción de la respuesta predefinida aquí..."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% url 'dashboard_admin' %}">
                            <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-blue-grey waves-effect">Limpiar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-green waves-effect">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}