{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Crear respuesta predefinida | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Listado de Respuestas Predefinidas
        </h2>
    </div>
    <div class="body table-responsive">
        <table id="table-list" class="table table-bordered table-hover nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RPS-01</td>
                    <td>Gracias por su recomendación, lo tendremos en cuenta...</td>
                    <td>Sugerencia</td>
                    <td>
                        <center><button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">remove_red_eye</i></button> <button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">update</i></button></center>
                </tr>
                <tr>
                    <td>RPP-02</td>
                    <td>Muchas gracias por enviar su petición, mantente atento a nuestras publicaciones en
                        RRSS...</td>
                    <td>Petición</td>
                    <td>
                        <center><button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">remove_red_eye</i></button> <button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">update</i></button></center>
                </tr>
                <tr>
                    <td>RPQ-02</td>
                    <td>Nos disculpamos por las molestias ocacionadas, le enviaremos un chocolate por
                        retribución</td>
                    <td>Queja</td>
                    <td>
                        <center><button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">remove_red_eye</i></button> <button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">update</i></button></center>
                </tr>
                <tr>
                    <td>RPR-02</td>
                    <td>¡Gracias por contactarnos! Estaremos solucionando su problema en los proximos días...
                    </td>
                    <td>Reclamo</td>
                    <td>
                        <center><button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">remove_red_eye</i></button> <button type="button"
                                class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                    class="material-icons">update</i></button></center>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}