{% extends "base/base.html" %}

{% load static %}

{% block titulo %}Crear Sugerencia | Artemis {% endblock %}

{% block content %}
<div class="card">
        <div class="header">
            <h2>
                Registrar Sugerencia <small>Una sugerencia es una declaración de recomendación, que tiene por objeto mejorar el servicio que presta la empresa.</small>
            </h2>
        </div>
        <div class="body">
            <div class="row clearfix">
                <div class="col-md-4"></div>
                    <div class=" col-md-4 ">
                       <div class="form-group">
                            <div class="form-line">
                            <p>
                                <b>Asunto</b>
                            </p>
                                <input type="text" class="form-control" placeholder="Ingrese el asunto aquí...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                     <div class="col-md-4"></div>
                    <div class=" col-md-4 ">
                        <p>
                            <b>Descripción</b>
                        </p>
                       <div class="form-group">
                            <div class="form-line">
                                <textarea rows="4" class="form-control no-resize" placeholder="Por favor escriba su sugerencia aquí..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-2"></div>
                     <div class="col-md-3">
                        <div class="form-group">
                        <div class="button-demo">
                        <a href="{% url 'dashboard_cliente' %}">
                            <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                        </a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <div class="button-demo">
                            <button type="button" class="btn bg-blue-grey waves-effect">Limpiar</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <div class="button-demo">
                            <button type="button" class="btn bg-green waves-effect">Enviar</button>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
 </div>


{% endblock %}

{% block javascript %}


{% endblock %}