{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Bienvenido | Artemis {% endblock %}

{% block content %}

<div class="block-header">
    <h2>LISTADOS</h2> 
</div>

<div class="row clearfix">
    <a href="{% url 'g_listapqs' %}">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">question_answer</i>
                </div>
                <div class="content">
                    <div class="text" style="color:white">PQS Pendientes</div>
                    <div class="number count-to" style="color:white" data-from="0" data-to="{{ cant_pen }}" data-speed="1500"
                        data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'inicio_gestorpqs' %}">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">question_answer</i>
                </div>
                <div class="content">
                    <div class="text" style="color:white">PQS Marcadas</div>
                    <div class="number count-to" style="color:white" data-from="0" data-to="{{ cant_mar }}" data-speed="1500"
                        data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="block-header">
    <h2>REPORTES</h2> 
</div>
<div class="row clearfix">
    <a href="{% url 'pqsmarcados' %}">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">loyalty</i>
                </div>
                <div class="content">
                    <div class="text" style="color:white">PQS</div>
                    <div class="number" style="color:white">Marcadas</div>
                </div>
            </div>
        </div>
    </a>
</div>



<div class="card">
    <div class="header">
        <h2>
            Listado de PQS <small style="color:#171d40; align-justify;">PQS recibidas...</small>
        </h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table id="tabla-gestpqs" class="table table-bordered " >
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Categoría</th>
                        <th>Nombre del cliente</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Categoría</th>
                        <th>Nombre del cliente</th>
                        <th>Estado</th>                   
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for pqs in object_list %}
                    <tr>
                        <td> {{ pqs.codPQS }} </td>
                        <td> {{ pqs.get_categoria_display }} </td>
                        <td> {{ pqs.nombreUsuario.idCliente.nombre }} {{ pqs.nombreUsuario.idCliente.apellido }} </td>
                        <td>{{ pqs.get_estatus_display }} </td>
                        <td> 
                            <center><a href="{% url 'consultarpqs' pqs.codPQS %}">
                            <button type="button"
                                    class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons">remove_red_eye</i></button></a></center>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/pages/tables/tabla-gestorpqs.js' %}" type="text/javascript"></script>

{% endblock %}