{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
        <h2>
            Cambiar Contraseña Actual
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Contraseña Actual</b>
                        </p>
                        <input type="text" class="form-control" placeholder="Ingrese su contraseña aquí...">
                    </div>
                </div>
            </div>
        </div>
         <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Contraseña Nueva</b>
                        </p>
                        <input type="text" class="form-control" placeholder="Ingrese la nueva contraseña aquí...">
                    </div>
                </div>
            </div>
        </div>
         <div class="row clearfix">
            <div class="col-md-4"></div>
            <div class=" col-md-4 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Confirmar contraseña</b>
                        </p>
                        <input type="text" class="form-control" placeholder="Ingrese la nueva contraseña aquí...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% if user.codTipoUser.codTipoUser == 'cli' %} {% url 'dashboard_cliente' %} {% elif user.codTipoUser.codTipoUser == 'atc' %}{% url 'dashboard_atencioncli' %}{% elif user.codTipoUser.codTipoUser == 'admin' %}{% url 'dashboard_admin' %}{% elif user.codTipoUser.codTipoUser == 'ger'%}{% url 'dashboard_gerente' %}{% elif user.codTipoUser.codTipoUser == 'tec' %} {% url 'dashboard_tecnico' %} {% elif user.codTipoUser.codTipoUser == 'gpqs' %} {% url 'dashboard_gestorPQS' %} {% elif user.codTipoUser.codTipoUser == 'grec' %} {% url 'dashboard_gestreclamo' %} {% endif %}">
                            <button type="button" class="btn bg-teal waves-effect">Cancelar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-blue-grey waves-effect">Limpiar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <button type="button" class="btn bg-green waves-effect">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}