{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Crear Avería Masiva | Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header ">
        <h2>
            Crear Avería Masiva
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Estado</b>
                        </p>
                        <select class="form-control">
                            <option>Lara</option>
                            <option>Barinas</option>
                            <option>Carabobo</option>
                            <option>Delta Amacuro</option>
                            <option>Aragua</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" col-md-3 ">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Municipio</b>
                        </p>
                        <select class="form-control">
                            <option>Iribarren</option>
                            <option>Nosé</option>
                            <option>NOsé</option>
                            <option>Menossé</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Ciudad</b>
                        </p>
                        <select class="form-control">
                            <option>Barquisimeto</option>
                            <option>OTro</option>
                            <option>OTro</option>
                            <option>OTro</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <b>Zona</b>
                        </p>
                        <select class="form-control">
                            <option>Catedral</option>
                            <option>Nosé</option>
                            <option>Tampoco</option>
                            <option>Menos</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código de Nodo</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Realizar test</th>
                            <th>Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ND-01</th>
                            <td>Catedral</td>
                            <td>Carrera 26 con calle 30</td>
                            <td>
                                <center><button type="button"
                                        class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                            class="material-icons">settings_remote</i></button></center>
                            </td>
                            <td>No Realizado</td>
                        </tr>
                        <tr>
                            <th>ND-01</th>
                            <td>Catedral</td>
                            <td>Carrera 26 con calle 30</td>
                            <td>
                                <center><button type="button"
                                        class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                            class="material-icons">settings_remote</i></button></center>
                            </td>
                            <td>No Realizado</td>
                        </tr>
                        <tr>
                            <th>ND-01</th>
                            <td>Catedral</td>
                            <td>Carrera 26 con calle 30</td>
                            <td>
                                <center><button type="button"
                                        class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                            class="material-icons">settings_remote</i></button></center>
                            </td>
                            <td>No Realizado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6">
                <p>
                    <b>Asigne un técnico</b>
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input name="group4" type="radio" id="radio_1" class="radio-col-indigo" /> <label for="radio_1"
                            style="font-size:100%">Hugo Weaving</label>
                    </li>
                    <li class="list-group-item">
                        <input name="group4" type="radio" id="radio_2" class="radio-col-indigo" /> <label for="radio_2"
                            style="font-size:100%">Francis Ford Coppola</label>
                    </li>
                    <li class="list-group-item">
                        <input name="group4" type="radio" id="radio_3" class="radio-col-indigo" /> <label for="radio_3"
                            style="font-size:100%">John Constantine</label>
                    </li>
                    <li class="list-group-item">
                        <input name="group4" type="radio" id="radio_4" class="radio-col-indigo" /> <label for="radio_4"
                            style="font-size:100%">Wolfgang Larrazabal</label>
                    </li>
                    <li class="list-group-item">
                        <input name="group4" type="radio" id="radio_5" class="radio-col-indigo" /> <label for="radio_5"
                            style="font-size:100%">Antonio José de Sucre</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <a href="{% url 'dashboard_gestreclamo' %}">
                            <center><button type="button" class="btn bg-teal waves-effect">Cancelar</button></center>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="button-demo">
                        <center><button type="button" class="btn bg-green waves-effect">Crear</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}