{% extends "base/base.html" %}

{% load static %}

{% block titulo %}Averías Masivas | Artemis {% endblock %}

{% block content %}


<div class="card">
     <div class="header">
        <h2>
            Listado de Averías Masivas  <small>Averías Masivas registradas en el sistema</small>
        </h2>
    </div>
    <div class="body table-responsive">
        <table id="table-list" class="table table-bordered table-hover nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Categoría</th>
                    <th>Fecha de emisión</th>
                    <th>Fecha estimada de atención </th>
                    <th>Asunto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Categoría</th>
                    <th>Fecha de emisión</th>
                    <th>Fecha estimada de atención</th>
                    <th>Asunto</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>AnaMaria</td>
                    <td>Fallas de cobertura</td>
                    <td>15/05/2019</td>
                    <td>30/05/2019</td>
                    <td>Sin cobertura</td>
                    <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}