{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar Cliente | Artemis{% endblock  %}

<!--CONSULTAR CLIENTE PARA USUARIO: ADMINISTRADOR-->
{% block content %}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12">
        <div class="profile profile-card">
            <form method="POST" id="formulario">
                {% csrf_token %}
                <div class="profile-header">&nbsp;</div>
                <div class="profile-body">
                    <div class="image-area">
                        <img class="image-responsive" src="{{ cliente.foto.url }}"
                            alt="Foto de Perfil de {{ cliente.nombreUsuario }}"
                            style="width:200px;height:200px;object-fit:cover;" />
                    </div>
                    <div class="content-area">
                        <h3> {{ cliente.idCliente.nombre }} {{ cliente.idCliente.apellido }}</h3>
                        <p></p>
                        <p> {{ cliente.codTipoUser }} </p>
                    </div>
                </div>
                <div class="profile-footer">
                    <div class="row clearfix">
                        <div class=" col-md-4 "></div>
                        <div class=" col-md-4 ">
                            <div class="form-group">
                                <div class="form-line">
                                    <p>
                                        <b>Nombre de usuario</b>
                                    </p>
                                    {{ form.nombreUsuario }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class=" col-md-4 "></div>
                        <div class=" col-md-4 ">
                            <div class="form-group">
                                <div class="form-line">
                                    <p>
                                        <b>Teléfono</b>
                                    </p>
                                    <input type="text" class="form-control" value="{{ cliente.idCliente.telefono }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class=" col-md-4 "></div>
                        <div class=" col-md-4 ">
                            <div class="form-group">
                                <div class="form-line">
                                    <p>
                                        <b>Correo</b>
                                    </p>
                                    {{ form.correo }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class=" col-md-4 "></div>
                        <div class=" col-md-4 ">
                            <div class="form-group">
                                <div class="form-line">
                                    <p>
                                        <b>Dirección</b>
                                    </p>
                                    <input type="text" class="form-control"
                                        value="{{ cliente.idCliente.direccion }}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.estatus }}
                    {{ form.is_active }}
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="button-demo">
                                        <a
                                            href="{% url 'listacliente' %}">
                                            <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if user.codTipoUser.codTipoUser == 'admin' %}
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="button-demo">
                                        <button type="button" onclick="javascript:confirmarSeleccion();" class="btn bg-red waves-effect">Suspender</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script>
    function confirmarSeleccion() {
        swal({
            title: "Confirmar suspensión del usuario cliente",
            text: "¿Está seguro que desea suspender el usuario cliente?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#58a05d",
            confirmButtonText: "Sí",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                document.getElementById('estatus').value = 'I';
                document.getElementById('is_active').value = "False";
                formulario.submit();
            } else {
                swal("Cancelada", "El usuario cliente no ha sido suspendido.", "error");
            }
        });
    }
</script>
{% endblock javascript %}