{% extends "base/base.html" %}
{% load static %}

{% block titulo %} Clientes | Artemis {% endblock titulo %}

<!--Lista de clientes registrados en el sistema: ADMINISTRADOR-->
{% block content %}
<div class="card">
    <div class="header">
        <h2>
            Listado de Clientes <small style="color:black; align-justify;">Clientes registrados en el sistema</small>
        </h2>
    </div>
    <div class="body table-responsive">
        <table id="tabla-generica" class="table table-bordered nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for cliente in object_list %}
                <tr>
                    <td>{{ cliente.nombreUsuario }}</td>
                    <td>{{ cliente.idCliente.nombre }} {{ cliente.idCliente.apellido }}</td>
                    <td><img class="image-responsive img-circle" src="{{ cliente.foto.url }}" style="width:64px;height:64px;object-fit:cover;" alt="User" /></td>
                    <td>
                        <center><a href="{% url 'consultarcliente' cliente.nombreUsuario %}"> <button type="button"
                                    class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons">remove_red_eye</i></button></a></center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block javascript %}

{% if messages %}
{% for m in messages %}
{% if m.message == "e" %}
<script>
    swal("Suspendido", "El usuario cliente ha sido suspendido con éxito.", "success");
</script>
{% endif %}
{% endfor %}
{% endif %}
<script src="{% static 'js/pages/tables/tabla-generica.js' %}" type="text/javascript"></script>
{% endblock javascript %}