{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Artemis {% endblock %}

{% block content %}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card">
                <div class="header">
                    <h2>
                        Configurar sincronización de datos externos del sistema
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class=" col-md-8">
                            <div class=" col-md-12">
                                <p>
                                    <b>Copiar datos ahora</b>
                                </p>
                                <div class="form-group">
                                    <div class="form-line">
                                        <button type="reset" class="btn bg-indigo waves-effect"><i
                                                class="material-icons">sync</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-12">
                                <p>
                                    <b>Programar copiado automático:</b>
                                </p>
                            </div>
                            <div class=" col-md-8">
                                <p>
                                    <b>Hora de cada sincronización</b>
                                </p>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control">
                                            <option>1 hora</option>
                                            <option>2 horas</option>
                                            <option>4 horas</option>
                                            <option>8 horas</option>
                                            <option>12 horas</option>
                                            <option>24 horas</option>
                                            <option>48 horas</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'inicio_admin' %}">
                                        <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <button type="button" class="btn bg-green waves-effect">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}