{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar Cliente | Artemis{% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h2>
                        Atender
                        {% if pqs.categoria == 'P' %}Petición{% elif pqs.categoria == 'Q' %}Queja{% elif pqs.categoria == 'S'%}Sugerencia{% endif %}
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Código</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.codPQS }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p>
                                <b>Nombre de Usuario</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.nombreUsuario }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Descripción</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="9" class="form-control no-resize"
                                        readonly>{{ pqs.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <input type="checkbox" id="marcar"
                                style="border: 2px solid #000000;background-color: #000000;" checked />
                            <label for="marcar">Marcar</label>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'check_pqs' pqs.codPQS %} ">
                                        <center><button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo js-modal-buttons">
                                    <a href="#">
                                        <center><button type="button"
                                                class="btn bg-green waves-effect">Responder</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros
                vestibulum ut. Ut accumsan
                vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}