{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar Cliente | Artemis{% endblock  %}

{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h2>
                        Consultar
                        {% if pqs.categoria == 'P' %}Petición{% elif pqs.categoria == 'Q' %}Queja{% elif pqs.categoria == 'S'%}Sugerencia{% endif %}
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Código</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.codPQS }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.codTipoUser.codTipoUser == 'gpqs' %}
                     <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Nombre de Usuario</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.nombreUsuario }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Tipo de solicitud</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.get_categoria_display }}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Fecha de emisión</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.fechaRegistro }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Estatus</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.get_estatus_display }}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Fecha de atención</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="{{ pqs.fechaFinalizado }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Descripción</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="12" class="form-control no-resize"
                                        readonly>{{ pqs.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.codTipoUser.codTipoUser == 'cli' %}
                    <div class="row clearfix">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'checkpqrslist' %} ">
                                        <center><button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if user.codTipoUser.codTipoUser == 'gpqs' %}
                    <div class="row clearfix">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'dashboard_gestorPQS' %} ">
                                        <center><button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'attendpqs' pqs.codPQS %}">
                                        <center><button type="button" class="btn bg-green waves-effect">Atender</button>
                                        </center>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}