<html>
    <head>
        <style>
            body {
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                font-family: 'Roboto', Arial, Tahoma, sans-serif;
            }
            .responsive {
                width: 50%;
                height: auto;
            }
            table {
                border: 1 px solid gray;
                margin: 15px 15px 15px 15px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr><img src="https://artemispwa.pythonanywhere.com/static/images/logo.png" class="responsive"/></tr>
            <tr><h2>Artemis - Gestión de PQRS</h2></tr>
            <tr>¡Hola, {{ nombre }}!</tr>
            <tr>{{ linea1 }}</tr>
            <tr>{{ linea2 }}</tr>
            <tr>{{ linea3 }}</tr>
            <tr></tr>
            <tr>Este correo fue enviado automáticamente por Artemis.</tr>
            <tr><a href="https://artemispwa.pythonanywhere.com/">https://artemispwa.pythonanywhere.com/</a></tr>
        </table>
    </body>
</html>