{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Consultar Petición | Artemis {% endblock %}

{% block content %}<!--FALTA TERMINAR FRONT-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h2>
                    Consultar Petición
                </h2>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Código</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class=" col-md-8">
                            <p>
                                <b>Descripción</b>
                            </p>
                            <div class="form-group">
                                <div class="form-line">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="button-demo">
                                    <a href="{% url 'dashboard_cliente' %}">
                                        <button type="button" class="btn bg-teal waves-effect">Atrás</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}