{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Artemis {% endblock %}

{% block content %}

<div class="card">
    <div class="header">
            <h2>
                Listado de Peticiones <small>Peticiones registradas en el sistema</small>
            </h2>
     </div>
    <div class="header">
        <div class="body">
             <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                        <th>Nombre de usuario</th>
                        <th>Categoría</th>
                        <th>Fecha de emisión</th>
                        <th>Asunto</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Categoría</th>
                        <th>Fecha de emisión</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>man14</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center></td>
                    </tr>
                    <tr>
                        <td>ma12</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>maao_13</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>maa_15</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>mano_19</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>maa17</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>mano8</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    <tr>
                        <td>ma99</td>
                        <td>Atención al publico</td>
                        <td>2019/06/30</td>
                        <td>Mejorar la atención</td>
                        <td><center><button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">remove_red_eye</i></button> <button type="button" class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i class="material-icons">update</i></button></center>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}

<script>
document.getElementById('inicio').classList.remove('active');
document.getElementById('listado_peticiones').classList.add('toggled');
document.getElementById('a_listados').classList.add('toggled');
document.getElementById('listados').classList.add('active');
</script>

{% endblock %}