{% extends "base/base.html" %}

{% load static %}

{% block titulo %}  {% endblock %}

{% block content %}


<div class="col">
    <div class="info-box-3 bg-indigo hover-expand-effect">
        <div class="icon">
            <i class="material-icons" style="color:#FFF;">chrome_reader_mode</i>
        </div>
        <div class="content">
            <h1>Crear petición</h1>
        </div>
    </div>
</div>

<div class="card">
    <div class="header bg-blue">
        <h1>
            Detalles de la petición
        </h1>
    </div>

    <div class="body">

        <div class="row clearfix">
            <div class="col-sm-12">
                <h4>Todos los campos son obligatorios</h4>
                <br />
            </div>

            <div class="col-sm-3">
                <h2 class="card-inside-title">Tipo de servicio:</h2>
                <select class="selectpicker">
                    <option>Seleccione un tipo de servicio</option>
                    <option>Telefonía</option>
                    <option>Internet</option>
                    <option>Televisión</option>
                </select>
            </div>

            <div class="col-sm-3">
                <h2 class="card-inside-title">Tipo de petición:</h2>
                <select class="selectpicker">
                    <option>Seleccione una categoría de petición</option>
                    <option>Información</option>
                    <option>Productos</option>
                    <option>Nuevos servicios</option>
                </select>
            </div>

            <div class="col-sm-6"></div>



            <div class="col-sm-7">
                <h2 class="card-inside-title">Asunto:</h2>
                <div class="form-group">
                    <div class="form-line">
                        <textarea class="form-control" placeholder="Escríba el asunto de la petición"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <h2 class="card-inside-title">Descripción de la petición:</h2>
                <div class="form-group">
                    <div class="form-line">
                        <textarea rows="4" class="form-control no-resize"
                            placeholder="Escríba su petición..."></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
            <div class="container">
                <div class="row">
                        <div class="col-sm-5"></div>
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary m-t-15 waves-effect">
                            <h3>Enviar petición</h3>
                        </button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}