{% extends "base/base.html" %}
{% load static %}

{% block titulo %} Artemis - Ver Clientes {% endblock titulo %}

{% block content %}
<div class="card">
    <div class="header">
        <h2>
            Listado de Empleados <small>Empleados registrados en el sistema</small>
        </h2>
    </div>
    <div class="row clearfix">
        <div class="col-xs-11">
        </div>
        <div class="col-xs-1">
            <br />
            <a href="{% url 'createemployee' %}"><button type="button"
                    class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                        class="material-icons">add</i></button></a>
        </div>
    </div>
    <div class="body table-responsive">
        <table id="table-list" class="table table-bordered table-hover nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Cargo</th>
                    <th>Tipo de Usuario</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Cargo</th>
                    <th>Tipo de Usuario</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for empleado in object_list %}
                <tr>
                    <td>{{ empleado.nombreUsuario }}</td>
                    <td>{{ empleado.idEmpleado.nombre }} {{ empleado.idEmpleado.apellido }}</td>
                    <td><img class="image-responsive img-circle" src="{{ empleado.foto.url }}"
                            style="width:64px;height:64px;object-fit:cover;" alt="Foto de Perfil" /></td>
                    <td>{{ empleado.idEmpleado.cargo }}</td>
                    <td>{{ empleado.codTipoUser }}</td>
                    <td>
                        <center><a href="{% url 'checkemployee' %}"> <button type="button"
                                    class="btn bg-black btn-circle waves-effect waves-circle waves-float"><i
                                        class="material-icons">remove_red_eye</i></button></a></center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}